<header>
  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <a class="brand-logo" href="{{ site.baseurl }}/"><img class="logo" src="/img/logo.png" /> {{ site.title }}</a>
        <ul class="right hide-on-med-and-down">
          <li {% if page.project %}class="active"{% endif %}><a href="/projects/">Projects</a></li>
          <li {% if page.resources %}class="active"{% endif %}><a href="/resources/">Resources</a></li>
          <li {% if page.support %}class="active"{% endif %}><a href="/support/">Support</a></li>
        </ul>
        <ul id="nav-mobile" class="right side-nav">
          <li {% if page.project %}class="active"{% endif %}><a href="/projects/">Projects</a></li>
          <li {% if page.resources %}class="active"{% endif %}><a href="/resources/">Resources</a></li>
          <li {% if page.support %}class="active"{% endif %}><a href="/support/">Support</a></li>
        </ul>
        <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
      </div>
    </div>
  </nav>

  {% if page.resources %}
    {% include resources.html %}
  {% endif %}
</header>
